<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.item.mapper.CategoryMapper">


    <select id="selecListByBrandId" resultType="com.leyou.item.pojo.Category">
        SELECT * FROM tb_category WHERE id IN (SELECT category_id FROM tb_category_brand WHERE brand_id = #{bid})
    </select>

    <select id="queryByIdList" resultType="com.leyou.item.pojo.Category">
        select  * FROM tb_category where id in
        (
            <foreach collection="list" item="temp" separator=",">
                #{temp}
            </foreach>
        )
    </select>

</mapper>